@page
@model ProjektLIstaZakupow.Pages.DeleteModel

@{
    ViewData["Title"] = "Usuń produkt";
}


<h3>Czy napewno chcesz usunąć ten produkt?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produkt.Nazwa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produkt.Nazwa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produkt.Rodzaj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produkt.Rodzaj)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Produkt.Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-page="./Index">Wróć do listy zakupów</a>
    </form>
</div>
