@page
@model ProjektLIstaZakupow.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Produkt został kupiony?</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div hidden asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Produkt.Id" />
            <div hidden class="form-group">
                <label asp-for="Produkt.Nazwa" class="control-label"></label>
                <input asp-for="Produkt.Nazwa" class="form-control" />
                <span asp-validation-for="Produkt.Nazwa" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="Produkt.Rodzaj" class="control-label"></label>
                <input asp-for="Produkt.Rodzaj" class="form-control" />
                <span asp-validation-for="Produkt.Rodzaj" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input asp-for="Produkt.CzyKupione" value="true" class="form-check-input" />
                <label >Tak</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Wróć do listy zakupów</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
